@model Railway.Models.Updates

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Updates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time_Of_Arrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time_Of_Arrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time_Of_Departutre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time_Of_Departutre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UpdatesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
