@model IEnumerable<Railway.Models.Updates>

@{
    ViewData["Title"] = "Updates";
}

<h1>Updates</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time_Of_Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_Of_Departutre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Of_Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Of_Departutre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Station_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UpdatesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UpdatesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UpdatesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
