@model IEnumerable<Railway.Models.Station>

@{
    ViewData["Title"] = "Stations";
}

<h1>Stations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlatformNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Train.TrainID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
