@model Railway.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TainID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TainID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Routed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Routed.RoutedID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weekdays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weekdays.WeekdaysID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
