@model IEnumerable<Railway.Models.Routes>

@{
    ViewData["Title"] = "Routes";
}

<h1>Routes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoutesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoutesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoutesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
